# Copiar a .env (NO subir .env a GitHub)

# Microsoft Entra ID
TENANT_ID=00000000-0000-0000-0000-000000000000
API_CLIENT_ID=00000000-0000-0000-0000-000000000000
API_SCOPE=Pedidos.ReadWrite
# Orígenes del frontend separados por coma (local y GitHub Pages)
CORS_ALLOWED_ORIGINS=http://localhost:4200,https://germanelgris.github.io

# Amazon RDS MySQL
DB_HOST=pedidos360-db.xxxxxxxxxx.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=cambiar
