# Copiar a .env (NO subir .env a GitHub)

# Microsoft Entra ID
TENANT_ID=00000000-0000-0000-0000-000000000000
API_CLIENT_ID=00000000-0000-0000-0000-000000000000
API_SCOPE=Pedidos.ReadWrite
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Amazon RDS MySQL
DB_HOST=pedidos360-db.xxxxxxxxxx.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=cambiar

# Mensajería (opcional). Con true, usar: docker compose --profile messaging up -d --build
MESSAGING_ENABLED=false
RABBITMQ_HOST=<ip-privada-ec2-mq>
RABBITMQ_USER=pedidos360
RABBITMQ_PASSWORD=cambiar
KAFKA_BOOTSTRAP=<ip-privada-ec2-kafka>:9092
